.banner{
	width: 100%;
}
.banner>.content{
	width: 80%;
	margin:0 auto;
}


.banner>.content>.content-left{
	width: 62%;
	float: left;
height: 33.5rem;
position: relative;
cursor: pointer;


}
.banner>.content>.content-left>.img{
	position: relative;
	width: 100%;
}
.banner>.content>.content-left>.img>a{
	display: block;opacity: 0;
	transition:0.5s;
}

.banner>.content>.content-left>.img>a>img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 33.5rem;
	
}
.banner>.content>.content-left>.img>.active1{
	opacity: 1
}

.banner>.content>.content-left>.qqbtn{
	position: relative;
	width: 100%;
	height: 100%;
}
.banner>.content>.content-left>.qqbtn>.leftspan{
position: absolute;
	top: 50%;
	left: 0;
font-size: 3rem;
font-weight: bold;
color: white;
	width: 5rem;
	height: 5rem;
	background: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 5rem;
	margin-top:-2.5rem;
	cursor: pointer;
	user-select:none;
}
.banner>.content>.content-left>.qqbtn>.rightspan {
position: absolute;
	top: 50%;
	right: 0;
font-size: 3rem;
font-weight: bold;
color: white;
	width: 5rem;
	height: 5rem;
	background: rgba(0,0,0,0.5);
	text-align: center;
	line-height: 5rem;margin-top:-2.5rem;
		cursor: pointer;user-select:none;
	
}
.banner>.content>.content-left>.li{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

}
.banner>.content>.content-left>.li>ul{
	text-align: center;
}
.banner>.content>.content-left>.li>ul>li{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	background:#666;
	display: inline-block;
	cursor: pointer;
}
.banner>.content>.content-left>.li>ul>li:hover{
	background-color:red;
}
.banner>.content>.content-left>.li>ul>li.liactive{
	background-color: red;
}

/*content-right*/
.banner>.content>.content-right{
	width: 37%;
	float: right;
	background: #F4F4F4;
	

}
.banner>.content>.content-right>p{
	font-size: 2rem;
	color: black;
	height: 3rem;
}
.banner>.content>.content-right>ul>li{
height:2.5rem;
line-height: 2.5rem;
margin: 0.5rem;

}
.banner>.content>.content-right>ul>li>a{
	display: block;
	transition:0.5s;
	font-size: 1.5rem;

}
.banner>.content>.content-right>ul>li>a:hover{
	transform:translate(10px,0px);
}
.banner>.content>.content-right>ul>li>.num{
	float: left;
	display: block;
	width: 2.5rem;
	text-align: center;
	background: #e5e5e5;
	margin-right: 0.5rem


}
.banner>.content>.content-right>ul>li>.n1{
	background: #13DFCC;
}
.banner>.content>.content-right>ul>li>.n2{
	background: #13DFCC;
}

.banner>.content>.content-right>ul>li>.n3{
	background: #13DFCC;
}

/*内容*/
.picture-content{
	width: 100%;
}
.picture-content>.content{
	width: 80%;
	margin: 0 auto;
	font-size: 0;
}
.picture-content>.content>.item{
	display: inline-block;
	width:calc(25% - 2rem);
	margin: 1rem;
	transition:0.2s;


}
.picture-content>.content>.item:hover{
	box-shadow: 0px 3px 6px #e5e5e5;
	
}
.picture-content>.content>.item>a>.title{
	font-size: 1.5rem;
	text-align: center;
}
.picture-content>.content>.item>a>.img{
	width: 100%;
	height: 17rem;
overflow: hidden;


}
.picture-content>.content>.item>a>.img>img{
	width: 100%;transition:0.2s;
}
.picture-content>.content>.item>a>.img>img:hover{
	transform:scale(1.1);
}
/*加载更多*/
.btn{
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	
}
.btn>span{
	display: block;
	border-radius: 5px;
	background: #1DBDD1;
	color: white;
	font-size: 2rem;
	text-align: center;
	line-height: 4rem;
	width: 15rem;
	height: 4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;

}
.btn>span:hover{
	background: #198D9C
}